<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.how_about_camping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> // 지도 내 위치
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> // 지도 내 기지국과의 위치

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOCI7VOW4uISKkrUjcV5oRsZU658xFOHI" /> //구글 지도 API 키

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".JoinActivity" /> <!-- <activity> ~ </activity> 사이에 <intent-filter>가 있는 activity가 실행시 가장 먼저 화면이 뜸 -->
        <!-- 방금전 styles.xml에서 설정한 SplashTheme적용 -->
        <!-- Splash는 세로화면만 지원 가능하므로 screenOrientation을 portrait으로 -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".MapsActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".WeatherActivity" android:parentActivityName=".MainActivity"/>

    </application>

</manifest>